@import '../../style/mixins';
@import '../../style/variables';

.Tab {
  cursor: pointer;
  border: none;
  background: none;
  border-bottom: 2px solid transparent;
  transition: .2s ease;
  padding: 8px 12px;
  color: $text;

  &:hover {
    border-bottom-color: transparentize($text, 0.4);
  }

  &:disabled {
    border-bottom-color: $text;
  }

  @include screen-sm {
    flex: 1;
    font-size: 18px;
    padding: 12px 18px;
  }
}

.Tabs {
  display: flex;
  margin-block: 16px;
}
